  <md-card *ngIf="game">
    <md-card-title>{{session ? (opponent ? "Opponent: " + opponent : "Waiting for an opponent..") : "..."}}</md-card-title>
    <md-card-content class="chessboard">
      <md-grid-list cols="8" [rowHeight]="ratio" gutterSize="0px">
        <md-grid-tile *ngFor="let tile of tiles" (click)="onClick(tile)" [class]="tile.class" [ngStyle]="tile.chessMan?.style">
          <!--Buttons here-->
        </md-grid-tile>
      </md-grid-list>
    </md-card-content>
    <md-card-actions>
      <p><b *ngIf="session">{{turn ? "Your turn." : "Opponent's turn."}}</b> {{status ? status : "Make your move"}}<br>
      <b>{{ country ? "You are" : ""}}</b> {{ country ? ( country==1 ? "the blacks." : "the whites."  ) : ""}}</p>
      <button md-raised-button (click)="endGame()">End game</button>
    </md-card-actions>
  </md-card>
  
  <md-card *ngIf="!game">
    <md-card-title>Join a game or start a new</md-card-title>
    <md-card-content>
      <md-input-container>
        <input mdInput placeholder="Your name:" [(ngModel)]="name">
      </md-input-container>
      <p>{{ sessions ? "List of available games to join:" : "No available games. Host new." }}</p>
      <ng-container *ngFor="let session of sessions">
        <button md-button *ngIf="!session.opponent" (click)="joinSession(session)">{{ session.sessionName}}</button><br>
      </ng-container>
    </md-card-content>
    <md-card-actions>
      Color: <button md-button [ngStyle]="countryButton('black')" (click)="setCountry('black')">&#9822;</button> 
      | <button md-button [ngStyle]="countryButton('white')" (click)="setCountry('white')">&#9816;</button>
      <button md-raised-button (click)="hostSession(true)" *ngIf="!session">Start a new session</button>
    </md-card-actions>
  </md-card>