.chessboard {
  $dark-tile: #d18b47;
  $light-tile: #ffce9e;

  max-width: 50vh;

  -webkit-box-shadow: 0px 10px 2px 1px rgba(42,27,10,1);
  -moz-box-shadow: 0px 10px 2px 1px rgba(42,27,10,1);
  box-shadow: 0px 10px 2px 1px rgba(42,27,10,1);

  md-grid-tile {
    background: $dark-tile;
    -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
    &:hover {
      background: desaturate($dark-tile, 30%);
    }
  }

  md-grid-tile:nth-child(16n+1),
  md-grid-tile:nth-child(16n+3),
  md-grid-tile:nth-child(16n+5),
  md-grid-tile:nth-child(16n+7),
  md-grid-tile:nth-child(16n+10),
  md-grid-tile:nth-child(16n+12),
  md-grid-tile:nth-child(16n+14),
  md-grid-tile:nth-child(16n+16){
    background: $light-tile;

    -webkit-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 1px 1px rgba(0,0,0,0.75);

    &:hover {
      background: desaturate($light-tile, 30%);
    }
  }
}